/* estrelinha faz aplicação global de CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Variáveis que podem ser usadas para todo o documento. */
/* Ativo somente no Dark Mode */
:root{
    --bg-url: url(../img/backgroundDark.png)
}

body{
    background: var(--bg-url) no-repeat top center / cover;
    height: 100vh;
}